{{> headerPainel}}

<main class="painel">
    <div class="user-welcome">
        <div class="text-welcome">
            <i class="bi bi-person-circle"></i>
            <h3>Olá, seja bem-vindo(a) {{user.nome}}!</h3>
        </div>
    </div>

    <div class="dashboard">
        <div class="dashboard-text">
            <h2>Dashboard</h2>
            <a href="/criarRifa">Criar Rifa</a>
        </div>

        <div class="dashboard-info">
            <div class="info">
                <p>Valor arrecadado</p>
                <h2>R$ {{totalArrecadado}}</h2>
            </div>
            <div class="info">
                <p>Rifas ativas</p>
                <h2>{{numRifas}}</h2>
            </div>
            <div class="info">
                <p>Rifas finalizadas</p>
                <h2>{{rifasFinalizadas.length}}</h2>
            </div>
        </div>

        <div class="dashboard-rifaslist">
            <h3>Rifas Ativas</h3>
            {{#if rifasAtivas.length}}
            <div class="table-responsive">
                <table class="table table-striped border mb-5">
                    <!-- Cabeçalho da tabela -->
                    <thead>
                        <tr>
                            <th>Rifa</th>
                            <th>Limite de números</th>
                            <th>Preço do Bilhete</th>
                            <th>Números vendidos</th>
                            <th>Data de término</th>
                            <th class="text-center">Detalhes</th>
                        </tr>
                    </thead>
                    <!-- Corpo da tabela -->
                    <tbody>
                        {{#each rifasAtivas}}
                        <tr>
                            <td>{{this.nomeRifa}}</td>
                            <td>{{this.numMaxBilhetes}}</td>
                            <td>R$ {{this.valorBilhete}}</td>
                            <td>{{this.numBilhetesVendidos}}</td>
                            <td>{{this.dataTermino}}</td>
                            <td class="text-center">
                                <h1></h1>
                                <a href="detalhes/{{this.id}}?userId={{this.userId}}"
                                    class="m-2 d-block link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                                    Ver detalhes
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            {{else}}
            <p>Você não possui rifas ativas no momento.</p>
            {{/if}}

            <h3>Rifas Finalizadas</h3>
            {{#if rifasFinalizadas.length}}
            <div class="table-responsive">
                <table class="table table-striped border">
                    <!-- Cabeçalho da tabela -->
                    <thead>
                        <tr>
                            <th>Rifa</th>
                            <th>Limite de números</th>
                            <th>Preço do Bilhete</th>
                            <th>Números vendidos</th>
                            <th>Data de término</th>
                            <th class="text-center">Detalhes</th>
                        </tr>
                    </thead>
                    <!-- Corpo da tabela -->
                    <tbody>
                        {{#each rifasFinalizadas}}
                        <tr>
                            <td>{{this.nomeRifa}}</td>
                            <td>{{this.numMaxBilhetes}}</td>
                            <td>R$ {{this.valorBilhete}}</td>
                            <td>{{this.numBilhetesVendidos}}</td>
                            <td>{{this.dataTermino}}</td>
                            <td class="text-center">
                                
                                <a href="detalhes/{{this.id}}?userId={{this.userId}}"
                                    class="m-2 d-block link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                                    Ver detalhes
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            {{else}}
            <p>Você não possui rifas finalizadas no momento.</p>
            {{/if}}
        </div>
    </div>
</main>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const token = localStorage.getItem('token');

        if (!token) {
            alert('Acesso negado. Por favor, faça login.');
            window.location.href = '/login';
        } else {
            fetch('/validaToken', {
                method: 'POST',
                headers: {
                    'Authorization': `Bearer ${token}`
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Acesso negado');
                    }
                    return response.json();
                })
                .then(data => {
                    const userId = data.userId;
                    return fetch(`/painel?userId=${userId}`, {
                        method: 'GET',
                        headers: {
                            'Authorization': `Bearer ${token}`
                        }
                    });
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Erro ao buscar dados do usuário');
                    }
                    return response.text();
                })
                .then(html => {
                    document.body.innerHTML = html;
                })
                .catch(error => {
                    console.error('Erro ao acessar o painel:', error);
                    window.location.href = '/login';
                });
        }
    });
</script>